<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServelet</servlet-name>
        <servlet-class>gihan.LoginServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Servlet</servlet-name>
        <servlet-class>gihan.Login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>gihan.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>gihan.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendBookinServlet</servlet-name>
        <servlet-class>gihan.SendBookinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendBookingServlet</servlet-name>
        <servlet-class>gihan.SendBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCancelBooking</servlet-name>
        <servlet-class>gihan.SendCancelBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBookingItem</servlet-name>
        <servlet-class>gihan.addBookingItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBookingServlet</servlet-name>
        <servlet-class>gihan.addBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMoviServelt</servlet-name>
        <servlet-class>gihan.addMoviServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTicketServlet</servlet-name>
        <servlet-class>gihan.addTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMoviServlet</servlet-name>
        <servlet-class>gihan.addMoviServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTicketServelet</servlet-name>
        <servlet-class>gihan.addTicketServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTicketsServlet</servlet-name>
        <servlet-class>gihan.addTicketsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUpdateServlet</servlet-name>
        <servlet-class>gihan.adminUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_loginServlet</servlet-name>
        <servlet-class>gihan.admin_loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_registerServlet</servlet-name>
        <servlet-class>gihan.admin_registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingCancelServlet</servlet-name>
        <servlet-class>gihan.bookingCancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatusServlet</servlet-name>
        <servlet-class>gihan.changeStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_adminServlet</servlet-name>
        <servlet-class>gihan.delete_adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_categoryServlet</servlet-name>
        <servlet-class>gihan.delete_categoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_movieServlet</servlet-name>
        <servlet-class>gihan.delete_movieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_ticketServlet</servlet-name>
        <servlet-class>gihan.delete_ticketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>movieCategoryServlet</servlet-name>
        <servlet-class>gihan.movieCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitCommentServlet</servlet-name>
        <servlet-class>gihan.submitCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCategoryServlet</servlet-name>
        <servlet-class>gihan.updateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTicketServlet</servlet-name>
        <servlet-class>gihan.updateTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_movieServlet</servlet-name>
        <servlet-class>gihan.update_movieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_loginServlet</servlet-name>
        <servlet-class>gihan.update_loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_loginServlet</servlet-name>
        <servlet-class>gihan.user_loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_registerServlet</servlet-name>
        <servlet-class>gihan.user_registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLogout</servlet-name>
        <servlet-class>gihan.userLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_updateServlet</servlet-name>
        <servlet-class>gihan.user_updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>gihan.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessServlet</servlet-name>
        <servlet-class>gihan.SuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelServlet</servlet-name>
        <servlet-class>gihan.CancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_commentServlet</servlet-name>
        <servlet-class>gihan.delete_commentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dasboardLogout</servlet-name>
        <servlet-class>gihan.dasboardLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboardLogout</servlet-name>
        <servlet-class>gihan.dashboardLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBooking</servlet-name>
        <servlet-class>gihan.deleteBooking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServelet</servlet-name>
        <url-pattern>/LoginServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Servlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendBookinServlet</servlet-name>
        <url-pattern>/SendBookinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendBookingServlet</servlet-name>
        <url-pattern>/SendBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCancelBooking</servlet-name>
        <url-pattern>/SendCancelBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBookingItem</servlet-name>
        <url-pattern>/addBookingItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBookingServlet</servlet-name>
        <url-pattern>/addBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMoviServelt</servlet-name>
        <url-pattern>/addMoviServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTicketServlet</servlet-name>
        <url-pattern>/addTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMoviServlet</servlet-name>
        <url-pattern>/addMoviServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTicketServelet</servlet-name>
        <url-pattern>/addTicketServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTicketsServlet</servlet-name>
        <url-pattern>/addTicketsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUpdateServlet</servlet-name>
        <url-pattern>/adminUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_loginServlet</servlet-name>
        <url-pattern>/admin_loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_registerServlet</servlet-name>
        <url-pattern>/admin_registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingCancelServlet</servlet-name>
        <url-pattern>/bookingCancelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatusServlet</servlet-name>
        <url-pattern>/changeStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_adminServlet</servlet-name>
        <url-pattern>/delete_adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_categoryServlet</servlet-name>
        <url-pattern>/delete_categoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_movieServlet</servlet-name>
        <url-pattern>/delete_movieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_ticketServlet</servlet-name>
        <url-pattern>/delete_ticketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>movieCategoryServlet</servlet-name>
        <url-pattern>/movieCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitCommentServlet</servlet-name>
        <url-pattern>/submitCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCategoryServlet</servlet-name>
        <url-pattern>/updateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTicketServlet</servlet-name>
        <url-pattern>/updateTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_movieServlet</servlet-name>
        <url-pattern>/update_movieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_loginServlet</servlet-name>
        <url-pattern>/update_loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_loginServlet</servlet-name>
        <url-pattern>/user_loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_registerServlet</servlet-name>
        <url-pattern>/user_registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLogout</servlet-name>
        <url-pattern>/userLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_updateServlet</servlet-name>
        <url-pattern>/user_updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessServlet</servlet-name>
        <url-pattern>/SuccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelServlet</servlet-name>
        <url-pattern>/CancelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_commentServlet</servlet-name>
        <url-pattern>/delete_commentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dasboardLogout</servlet-name>
        <url-pattern>/dasboardLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboardLogout</servlet-name>
        <url-pattern>/dashboardLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBooking</servlet-name>
        <url-pattern>/deleteBooking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
